#cars{
    background-color: #787780;
    border: 2px dotted orange;
    padding: 10px;
    margin: 10px;
    text-align: center;
}
#hobby{
    background-color: #a8beff;
    border: 2px solid red;
    padding: 15px;
    margin: 15px;
    text-align: right;

}
#fruits{
    background-color: yellow;
    border: 1px dotted blue;
    padding: 10px;
    margin: 15px;
    text-align: left;


}